[data-md-color-scheme="exosphere-dark"] {
    /* Header */
    --md-primary-fg-color: #121212;
    --md-primary-bg-color: #FFFFFF;

    /* Main content */
    --md-default-fg-color: #66d1b5;
    --md-default-fg-color--light: #8bdfff;
    --md-default-fg-color--lighter: #daf5ff;
    --md-default-bg-color: #031035;
    --md-default-bg-color--light: #05184a;
    --md-default-bg-color--lighter: #08236b;
    --md-default-bg-color--lightest: #0c2d8b;
    --md-typeset-color: #ffffff;

    /* Accent color for links and headings */
    --md-accent-fg-color: #66d1b5;
    --md-typeset-a-color: #daf5ff;

    --md-code-fg-color: #daf5ff;
    --md-code-bg-color: #101219;


    --md-code-hl-color: #66d1b5;
    --md-code-hl-color--light: #8bdfff;


    --md-code-hl-number-color: hsla(0, 67%, 50%, 1);
    --md-code-hl-special-color: hsla(340, 83%, 47%, 1);
    --md-code-hl-function-color: #e4587d;
    --md-code-hl-constant-color: #8bdfff;
    --md-code-hl-keyword-color: #66d1b5;
    --md-code-hl-string-color: #daf5ff;
    --md-code-hl-name-color: #ffffff;
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-comment-color: #9E9E9E;
    --md-code-hl-generic-color: var(--md-default-fg-color--light);
    --md-code-hl-variable-color: var(--md-default-fg-color--light);

    /* Footer */
    --md-footer-fg-color: #FFFFFF;
    --md-footer-bg-color: #121212;
}

[data-md-color-scheme="exosphere-light"] {
    /* Header */
    --md-primary-fg-color: #031035;
    --md-primary-bg-color: #daf5ff;

    /* Main content */
    --md-default-fg-color: #031035;
    --md-default-fg-color--light: #24378f;
    --md-default-fg-color--lighter: #24378f;
    --md-default-fg-color--lightest: #9E9E9E;

    --md-default-bg-color--light: #daf5ff;
    --md-default-bg-color--lighter: #daf5ff;
    --md-default-bg-color--lightest: #daf5ff;
    --md-default-bg-color: #f7fdff;

    --md-typeset-color: #1a1a1a;

    /* Accent color for links and headings */
    --md-accent-fg-color: #e4587d;
    --md-typeset-a-color: #031035;

    --md-default-bg-color: #f7fdff;

    --md-code-fg-color: #031035;
    --md-code-bg-color: #daf5ff;

    --md-code-hl-color: #031035;
    --md-code-hl-color--light: #8bdfff;


    --md-code-hl-number-color: hsla(0, 67%, 50%, 1);
    --md-code-hl-special-color: hsla(340, 83%, 47%, 1);
    --md-code-hl-function-color: #e4587d;
    --md-code-hl-constant-color: #061d5f;
    --md-code-hl-keyword-color: #e4587d;
    --md-code-hl-string-color: #1a1a1a;
    --md-code-hl-name-color: #241c3b;
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-comment-color: #9E9E9E;
    --md-code-hl-generic-color: var(--md-default-fg-color--light);
    --md-code-hl-variable-color: var(--md-default-fg-color--light);

    /* Footer */
    --md-footer-fg-color: #FFFFFF;
    --md-footer-bg-color: #031035;

}